main, body{
    background-color:#eaeaea;
}
ul{
    margin-bottom: 0;
}

.nav{
    background-color: #3c4caa;
    box-shadow: #000000;
    box-shadow: 2px black;
}

.logo{
    color: #ffffff;
    font-size: 2em;
    margin-left: 80%;
    cursor: pointer;
}

.nav-link, nav-link:hover{
    color:#ffffff;
}