body{
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

main{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;
}

.text h1{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color:#3c4caa;
}
.center{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.text h2{
    width: 80%;
}

.text-box{
    width: 45%;
    margin: 2% auto;
    text-align: center;
    font-size: 1.1em;
    color: #3c4caa;
}

.wrapper{
    margin-top: 35px;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.listagem, 
.cadastrar{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
} 

.mb-2{
    margin-top: 25px;
}